# VS Code temporary file when running code
tempCodeRunnerFile.*

# Python cache
__pycache__/
*.py[cod]

# VS Code workspace file
*.code-workspace

# Results folder
lines/results/stacks/*.tif
lines/results/noisy_images/*.tif
lines/results/illumination/filtered/*.tif
lines/results/illumination/unfiltered/*.tif
lines/results/illumination/prefiltered/*.tif